

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
html, body {
  background: linear-gradient(120deg, #f0efef, #f0efef);
  overflow: hidden;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
}

button {
  width: 200px;
  height: 30px;
  outline: none;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #4CAF50;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #4CAF50;
  color: #fff;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}

h2 {
  text-align: center;
  color: #fff;
  padding: 5px;
}
